<div class="b-card">
    <img [src]="item.img" alt="card-img">
    <div class="inner-content">
        <h5>{{item.date}}</h5>
        <h1>{{item.title}}</h1>
        <p>{{item.text}}</p>
        <div class="read-more d-flex align-items-center justify-content-between">
            <div class="left">
                <a href="#" class="read">
                    Read more
                    <i class="fa-solid fa-arrow-right-long"></i>
                </a>
            </div>
            <div class="right">
                <a href="#">
                    39
                    <i class="fa-solid fa-heart"></i>
                </a>
                <a href="#">
                    Read more
                    <i class="fa-solid fa-comment"></i>
                </a>
            </div>
        </div>
    </div>
</div>