<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="content d-flex align-items-center justify-content-between">
                    <div class="logo-side">
                        <a href="#" class="logo">
                            Aurum
                        </a>
                        <a href="#" class="blog fst-italic d-none d-sm-block">
                            Blog theme
                        </a>
                    </div>
                    <div class="menu-side d-flex">
                        <a href="#" class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <a class="menu" (click)="onToggle()">
                            Menu
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- sidemenu -->
    <div class="sidemenu" [ngClass]="showSidemenu == true ? 'active' : ''">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Blogs</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Careers</a>
            </li>
        </ul>
    </div>
</header>