<div class="homepage">
    <div class="banner" style="background-image: url(../../../assets/img/thomas-griesbeck-BS-Uxe8wU5Y-unsplash.jpg);">
        <div class="container">
            <div class="row">
                <div class="content">
                    <p class="date">2014 May 29</p>
                    <h1>Jumping Out of A Spaceship</h1>
                    <p class="sub-head">Sorry, checking all the water in this area; there's an <br> escaped fish. Insistently Bow ties are cool!</p>
                </div>
            </div>
        </div>
    </div>
</div>