<div class="homepage">
    <div class="banner" style="background-image: url(../../../assets/img/thomas-griesbeck-BS-Uxe8wU5Y-unsplash.jpg);">
        <div class="container">
            <div class="row">
                <div class="content">
                    <h5>2014 May 29</h5>
                    <h1>Jumping Out of A Spaceship</h1>
                    <p>Sorry, checking all the water in this area; there's an <br> escaped fish. Insistently Bow ties are cool!</p>
                    <div class="read-more">
                        <a href="#" class="read">
                            Read more
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                        <a href="#">
                            39
                            <i class="fa-solid fa-heart"></i>
                        </a>
                        <a href="#">
                            Read more
                            <i class="fa-solid fa-comment"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>