@import '/src/styles.scss';

.footer {
    background-color: $blueGray;
    padding: 28px 0;
    // border-radius: 0 0 22px 22px;
    .content {
        .left-side {
            p {
                color: $darkGray;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .right-side {
            display: flex;
            .social-item {
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $darkGray;
                border: 1px solid $darkGray;
                margin-right: 10px;
                border-radius: 50px;
                i {
                    font-size: 16px;
                    color: $blueGray;
                }
            }
        }
    }
}