<div class="footer">
    <div class="container">
        <div class="row">
            <div class="content d-flex align-items-center justify-content-between">
                <div class="left-side">
                    <p>© Aurum Blog Theme 2014</p>
                </div>
                <div class="right-side">
                    <div class="social-item">
                        <i class="fa-brands fa-tumblr"></i>
                    </div>
                    <div class="social-item">
                        <i class="fa-brands fa-behance"></i>
                    </div>
                    <div class="social-item">
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                    <div class="social-item">
                        <i class="fa-brands fa-dribbble"></i>
                    </div>
                    <div class="social-item">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="social-item">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="social-item">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>